<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf8">
        <title>Making Schedules</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
    <body>
        <header>
            <h1>Input information. </h1>
        </header>
        <main>
            <ul>
                <li><a href="{{ url_for('students') }}">Students</a></li>
                <li><a href="{{ url_for('teachers') }}">Teachers</a></li>
                <li><a href="{{ url_for('management') }}">Making the schedule</a></li>
            </ul>
        </main>
    </body>
</html>